### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Eclipse
.classpath
.project
.settings

# Idea
*/.idea*
*/.idea/*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

#Carpeta loca
DataQualityAssessment/path/
DataQualityAssessment/path/*

# Images #

images/

# Test scenes #

scenes/test

# Logs

*.log
